/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
        #mybox
        {
            display: none;
        }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
{
        #mybox
        {
            display: none;
        }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) 
{
        #mybox
        {
            display: none;
        }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
        #mybox
        {
            display: none;
        }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
{
        #mybox
        {
            display: none;
        }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
{
        #mybox
        {
            display: none;
        }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px)
{
        #mybox
        {
            display: block;
        }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px)
{
        #mybox
        {
            display: block;
        }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) 
{
        #mybox
        {
            display: none;
        }
}